<% include head %>

<div class="ce_top">
    <div class="ce_topmenu">
      <ul>
      	<li><a href="#" cmd="home">Home</a> </li>
	    <li><a href="#" cmd="project">Project</a></li>
	    <li><a href="#" onclick="onCmdClick(this)" class="ce_cmd" cmd="showdialog">server Dialog</a></li>
	    <li><a href="#" onclick="onShowDialog(this)" class="ce_cmd" dialog="dialog-a">Dialog</a></li>
	    <li><a href="#" onclick="onCmdClick(this)" class="ce_cmd" cmd="signup">Sign up</a></li>
	    <li><a href="#" onclick="onCmdClick(this)" class="ce_cmd" cmd="login">Login</a></li>
	  </ul>
	</div>
</div>
<div class="ce_left">
    <div class="ce_menu">
      <ul>
      	<li><a href="/tasks">Tasks</a> </li>
      	<li><a href="/projects">Projects</a> </li>
	  </ul>
	</div>
</div>

<div class="ce_content">
	<div id="ce_content">
	    <h1>dummy content</h1>
	</div>
</div>

<div class="ce_dialog">
</div>




<% include foot %>